<body style = "text-align: center;">
    <h1 style = "font-size: 5vmin; color: white; background-color: {{makemered}}; padding-left: 30%; padding-right:30%;">
        {{namedval}}
    </h1>
    
    <p>
        You have been nominated for your demonstration of {{namedval}} at Lewis University.
        
        <br></br>
        
        This was why they nominated you:
    </p>
    
    <div style = "font-style: italic;">
        {{details}}
    </div>

    <footer style = "font-size: 8px;">
        this email has been sent to you via the LU Kudos team (via Handlebars). <br></br>
        <span style = "font-size: 6px;"> Reference ID: {{finalID}} </span>
    </footer>
    </body>
    